html {
    box-sizing: border-box; }
  
  *, *::after, *::before {
    box-sizing: inherit; }
  
  /**
   * Main Style
   *
   * Because its broken up nicely, its easier to follow and ramp up.
   */
  /**
   * Include any vendor scripts here
   * bourbon, neat, etc...
   *
   * @import 'bourbon/bourbon'
   */
  /**
   * Allows you to use retina images at various pixel densities.
   * Examples:
   *
   *   @include retina(/images/mypic.jpg, 2);
   *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
   *
   * @param  {Value}  $path               The path to the file name minus extension.
   * @param  {Number} $cap:    2          The highest pixel density level images exist for.
   * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
   * @param  {Value}  $extras: null       Any other `background` values to be added.
   */
  /**
   * Main include
   */
  /**
   * Fonts here
   */
  /* @font-face {
    font-family: 'Avenir-Book';
    src: url("../fonts/AvenirLTStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirLTStd-Book.otf") format("opentype"), url("../fonts/AvenirLTStd-Book.woff") format("woff"), url("../fonts/AvenirLTStd-Book.ttf") format("truetype"), url("../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book") format("svg");
    font-weight: normal;
    font-style: normal; } */
  
  /**
   * Store any Style Variables for your site
   */
  /**
   * Fonts
  **/
  /**
   * Media Queries
  **/
  /**
   * Any Custom Mixins can go here
   */
  .bold {
    font-weight: bold; }
  
  .clear {
    clear: both; }
  
  /**
   * Include any Parts of the website here
   * For headers, footers, sidebars, etc....
   * Create as many as you like
   */
  /**
   * Header Styles
   */
  /**
   * Footer Styles
   */
  .footer {
    position: relative;
    /*
     * Set a counter and get the length of the image path.
     */
    /*da756fa2d41fb31154052c11a594dc2a
     * Loop ver the image path and figure out the
     * position of the dot where the extension begins.
     */
    /*
     * If we were able to figure out where the extension is,
     * slice the path into a base and an extension. Use that to
     * calculate urls for different density environments. Set
     * values for different environments.
     */
    /*
       * Set a base background for 1x environments.
       */
    background: url("../../static/ico/bodh-small.png") no-repeat left;
    background-size: 116px 70px;
    /*
       * Create an @2x-ish media query.
       */
    /*
       * Create media queries for all environments that the user has
       * provided images for.
       */
    /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
    background-color: rgb(255, 85, 50) !important;
    padding: 0 2rem;
    padding-left: 120px;
    height: 70px;
    color: #FFF; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      .footer {
        background: url("#") no-repeat left;
        background-size: 116px 70px; } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .footer {
        background: url("#") no-repeat left;
        background-size: 116px 70px; } }
    @media screen and (max-width: 1024px) {
      .footer {
        padding: 0 0.2rem 0 120px; } }
    .footer a {
      color: #FFF;
      text-decoration: none; }
    @media screen and (max-width: 768px) {
      .footer {
        /* background: #D67208 url("../../static/ico/bodh.png") no-repeat 20px 15px; */
        padding: 0;
        height: 80px; }
      
        #twitter, #facebook, #instagram {
          display: none;
        }
      
      }
  
  .footer-home {
    position: absolute;
    display: block;
    height: 70px;
    width: 116px;
    left: 0;
    top: 0; }
    @media screen and (max-width: 480px) {
      .footer-home {
        height: 50px; } }
  
  .copyright {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 50px;
    height: 100%;
    padding-top: 13px; }
    @media screen and (max-width: 1024px) {
      .copyright {
        font-size: 0.65rem; } }
    @media screen and (max-width: 768px) {
      .copyright {
        display: none; } }
  
  .footer-nav-wrapper {
    float: right; }
    @media screen and (max-width: 480px) {
      .footer-nav-wrapper {
        float: none;
        width: 100%;
        display: table; } }
  
  .footer-nav {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    float: left;
    margin: 30px 0 0;
    z-index: 555; }
    @media screen and (max-width: 1024px) {
      .footer-nav {
        font-size: 0.65rem;
        margin-top: 25px; } }
    @media screen and (max-width: 480px) {
      .footer-nav {
        float: none;
        padding: 0;
        display: table-footer-group;
        float: none; } }
    @media screen and (max-width: 360px) {
      .footer-nav {
        font-size: 0.55rem; } }
    .footer-nav li {
      display: inline-block;
      border-right: 1px solid #FFF; }
      .footer-nav li a {
        padding: 0 1rem; }
        @media screen and (max-width: 768px) {
          .footer-nav li a {
            padding: 0 0.5rem; } }
      .footer-nav li:last-child {
        border-right: 0; }
  
  .social {
    display: inline-block;
    margin-left: 20px;
    margin-top: 18px; }
    @media screen and (max-width: 480px) {
      .social {
        float: right;
        margin-top: 0;
        padding-top: 5px; } }
    .social a {
      display: inline-block; }
  
  .top {
    background: url("../../static/img/dust-background.png");
    text-align: center;
     }
    
    @media screen and (max-width: 480px) {
      .top {
        padding: 1rem 1rem 5rem 1rem; } }
  
  .slogan {
    font-family: 'Avenir-Book';
    font-weight: 100;
    color: #FFFFFF;
    font-size: 2.5rem;
    max-width: 500px;
    line-height: 2rem;
    margin: 0 auto; }
    @media screen and (max-width: 768px) {
      .slogan {
        line-height: 3.25rem; } }
  
  .scroll-down {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer; }
    @media screen and (max-width: 768px) {
      .scroll-down {
        display: none !important; } }
  
  .phone-number {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
    .phone-number::after {
      clear: both;
      content: "";
      display: table; }
  
  .phone-result {
    display: none;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    width: 100%; }
  
  .download {
    width: 500px;
    margin: 25px auto 0 auto;
    position: relative; }
    @media screen and (max-width: 480px) {
      .download {
        width: auto;
        padding: 1rem;
        display: none; } }
    @media screen and (max-width: 360px) {
      .download {
        padding: 0; } }
    .download label {
      color: #FFFFFF; }
    .download.success .phone-result.success {
      display: block;
      color: white; }
    .download.fail .phone-result.error {
      display: block;
      color: #000; }
  
  .storebuttons {
    margin-top: 40px!important; }
  
  .storebutton {
    display: inline-block; }
  
  .features {
    width: 100%;
    background: #FFFFFF;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    .features .inner {
      max-width: 68em;
      margin-left: auto;
      margin-right: auto;
      max-width: 1600px; }
      .features .inner::after {
        clear: both;
        content: "";
        display: table; }
    @media screen and (max-width: 1024px) {
      .features {
        padding: 2.5rem 0; } }
    @media screen and (max-width: 480px) {
      .features {
        padding: 0; } }
  
  .feature {
    text-align: center;
    color: #484848;
    margin-top: 8rem;
    margin-bottom: 8rem;
    max-width: 330px;
    margin-left: auto;
    margin-right: auto; }
    @media screen and (max-width: 1366px) {
      .feature {
        margin: 2rem 0 3rem 0;
        max-width: none;
        padding: 0 1rem;
        font-size: 0.8rem; } }
    @media screen and (max-width: 768px) {
      .feature {
        margin: 2rem 0 3rem 0;
        padding: 0 1rem;
        font-size: 0.8rem; } }
    @media screen and (max-width: 480px) {
      .feature {
        margin: 4rem 0;
        max-width: none;
        padding: 0 1rem; } }
    .feature label {
      display: block;
      font-weight: bold;
      font-size: 1.25rem; }
      @media screen and (max-width: 768px) {
        .feature label {
          font-size: 1rem; } }
  
  @media screen and (max-width: 768px) {
    .feature-text {
      max-width: 300px;
      margin: 0 auto; } }
  
  .column {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .column:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      .column {
        width: 100%; } }
  
  .play-button {
    background: url("#") no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -32.5px;
    margin-top: -32.5px;
    z-index: 10;
    display: none; }
  
  .phone {
    /*
     * Set a counter and get the length of the image path.
     */
    /*
     * Loop ver the image path and figure out the
     * position of the dot where the extension begins.
     da756fa2d41fb31154052c11a594dc2a*/
    /*
     * If we were able to figure out where the extension is,
     * slice the path into a base and an extension. Use that to
     * calculate urls for different density environments. Set
     * values for different environments.
     */
    /*
       * Set a base background for 1x environments.
       */
    background: url("../../static/img/iPhone.png") no-repeat;
    background-size: 350px 710px;
    /*
       * Create an @2x-ish media query.
       */
    /*
       * Create media queries for all environments that the user has
       * provided images for.
       */
    /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
    width: 350px;
    height: 710px;
    display: block;
    margin: 100px auto 0 auto;
    position: relative; }
    @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
      .phone {
        background: url("../../static/img/iPhone@2x.png") no-repeat;
        background-size: 350px 710px; } }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      .phone {
        background: url("../../static/img/iPhone@2x.png") no-repeat;
        background-size: 350px 710px; } }
    @media screen and (max-width: 1366px) {
      .phone {
        background-size: 280px 568px;
        width: 280px;
        height: 568px;
        margin-top: 0; } }
    @media screen and (max-width: 1024px) {
      .phone {
        background-size: 220px 446px;
        width: 220px;
        height: 446px; } }
    @media screen and (max-width: 768px) {
      .phone {
        background-size: 335px 680px;
        width: 335px;
        height: 680px; } }
    @media screen and (max-width: 480px) {
      .phone {
        background-size: 335px 680px;
        width: 335px;
        height: 680px; } }
    @media screen and (max-width: 360px) {
      .phone {
        background-size: 280px 568px;
        width: 280px;
        height: 568px; } }
  
  #main-video {
    position: absolute;
    top: 83px;
    left: 19px;
    width: 308px;
    height: 544px; }
    @media screen and (max-width: 1366px) {
      #main-video {
        width: 245px;
        height: 466px;
        top: 51px;
        left: 16px; } }
    @media screen and (max-width: 1024px) {
      #main-video {
        width: 193px;
        height: 340px;
        top: 53px;
        left: 12px; } }
    @media screen and (max-width: 768px) {
      #main-video {
        width: 295px;
        height: 521px;
        top: 80px;
        left: 18px; } }
    @media screen and (max-width: 360px) {
      #main-video {
        width: 247px;
        height: 434px;
        top: 67px;
        left: 14px; } }
  
  /**
   * Buttons
  **/
  .btn {
    text-transform: lowercase;
    outline: 0;
    border: none;
    padding: 0.5rem; }
  
  a.download-now {
    background: #FFFFFF;
    color: #D67208;
    padding: 1rem 3rem;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 2px solid transparent;
    text-decoration: none;
    display: inline-block; }
    @media screen and (max-width: 480px) {
      a.download-now {
        margin-top: 1rem; } }
    a.download-now:hover {
      background: white;
      color: #454545; }
  
  .send {
    background: #FFFFFF;
    color: #D67208;
    padding: 0.65rem 1rem;
    margin: 0rem 0 0 0;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px; }
    .send:hover {
      background: white;
      color: #454545; }
  
  @media screen and (max-width: 480px) {
    .download-link {
      width: 140px;
      height: auto; } }
  
  body {
    background: white;
    font-size: 16px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.8rem; }
  
  a {
    color: #D67208;
    text-decoration: none; }
    a:hover {
      color: #000; }
  
  .content-container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .content-container::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (max-width: 768px) {
      .content-container {
        width: 100%;
        padding: 0 1rem; } }
  
  .header {
    color: #D98539;
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 5rem;
    line-height: 5rem; }
    @media screen and (max-width: 768px) {
      .header {
        font-size: 3rem;
        margin-bottom: 3rem;
        line-height: 3rem; } }
  
  .subtitle {
    text-transform: uppercase;
    margin-top: 2rem;
    margin-bottom: 0.25rem; }
  
  h1 {
    font-size: 3rem; }
    @media screen and (max-width: 768px) {
      h1 {
        font-size: 2rem; } }
  
  h2 {
    font-size: 2rem; }
    @media screen and (max-width: 768px) {
      h2 {
        font-size: 1.5rem; } }
  
  h3 {
    font-size: 1.5rem; }
    @media screen and (max-width: 768px) {
      h3 {
        font-size: 1.2rem; } }
  
  h4 {
    font-size: 1.5rem; }
    @media screen and (max-width: 768px) {
      h4 {
        font-size: 1.1rem; } }
  
  /**
   * Invitation Page
  **/
  .appstore-button, .da756fa2d41fb31154052c11a594dc2a {
    text-align: center;
    /* display: inline-block; */
    margin: 0%; }
    @media screen and (max-width: 480px) {
      .appstore-button {
        width: 49%;
        margin: 0;
        margin-bottom: 4rem; }
        .appstore-button img {
          width: 100%; } }
  
  .dropdown {
    color: #a9a9a9;
    margin-left: 30px;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 50%;
     }
    .dropdown:last-child {
      margin-right: 0; }
    .dropdown .dropdown-container {
      width: 100%; }
    .dropdown .dropdown-description,
    .dropdown .dropdown-button {
      border: 2px solid transparent; }
    .dropdown .dropdown-button {
      width: 100%;
      border-radius: 5px; }
    .dropdown .dropdown-menu {
      height: 300px;
      overflow: scroll; }
      .dropdown .dropdown-menu a {
        color: #000; }
  
  #phone-input {
    margin-right: 0;
    /* float: right; */
    display: block;
    margin-right: 3.57866%;
    
    border: 2px solid transparent;
    border-radius: 5px;
    font-size: 18px;
    padding: 0.5rem;
    margin-right: 0; }
    #phone-input:last-child {
      margin-right: 0; }
  
  .wont-store {
    font-size: 12px;
    font-style: italic;
    margin-top: 20px; }
  
  .message .success, .message .error {
    display: none; }
  
  .success .message .success {
    display: block;
    color: #23A325; }
  
  .error .message .error {
    color: #BD1414;
    display: block; }
  
  .dropdown {
    line-height: 1.5em; }
    .dropdown .dropdown-container {
      display: inline-block;
      position: relative;
      text-align: center; }
    .dropdown .dropdown-description {
      background: white;
      color: #ababab;
      float: left;
      font-size: 0.7em;
      line-height: 38px;
      margin: 0;
      padding: 0 0.5em 0 1em; }
      @media screen and (min-width: 53.75em) {
        .dropdown .dropdown-description {
          font-size: 1em; } }
    .dropdown .dropdown-button {
      background: white;
      cursor: pointer;
      float: right;
      font-size: 0.7em;
      font-weight: 800;
      line-height: 38px;
      margin: 0;
      padding: 0 2.5em 0 0.5em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        .dropdown .dropdown-button {
          font-size: 1em; } }
      @media screen and (max-width: 360px) {
        .dropdown .dropdown-button {
          padding: 0 1.5em 0 0.5em; } }
    .dropdown .dropdown-button:hover {
      background-color: #f7f7f7; }
    .dropdown .dropdown-button:after {
      color: #454545;
      content: "\25BE";
      display: block;
      position: absolute;
      right: 1em;
      top: 0; }
    .dropdown .dropdown-menu {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: white;
      border-radius: 3px;
      border: 1px solid silver;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      color: #454545;
      cursor: pointer;
      display: none;
      margin: 0;
      overflow: show;
      padding: 0;
      position: absolute;
      right: 0;
      top: 42px;
      /* width: 228px; */
      border-radius: 6px;
      z-index: 99999;
      /*&:before {
        @include position(absolute, 0 1em 0 0);
        color: $dropdown-background;
        content: "\25b2";
        font-size: 1.4em;
        pointer-events: none;
        text-shadow: 0 -2px 2px transparentize(black, 0.7);
        top: -0.7em;
      }*/ }
    .dropdown .dropdown-menu li {
      border-bottom: 1px solid silver;
      color: #454545;
      list-style: none;
      padding: 0.5em; }
    .dropdown .dropdown-menu li:hover {
      background: #f7f7f7; }
    .dropdown .dropdown-menu li:first-child {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
    .dropdown .dropdown-menu li:last-child {
      border: none;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px; }
    .dropdown .show-menu {
      display: block; }
      @media screen and (max-width: 360px) {
        .dropdown .show-menu {
          left: 0; } }

p {
  margin-top: 0!important;
  /* margin-bottom: 0!important; */
}

.msg, #or{font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"!important;}
.disabled {
  /* border: 1px solid #999999; */
  background-color: #cccccc!important;
  color: #666666!important;
}
.morepad {
  padding-left:17px;
}